{% extends 'layout.html' %}

{% block body %}
    <style type="text/css">
    .textcolor { color: #ffffff; font-size:18px}
    </style>
  <h1 style="color:#ffffff;">About Us</h1>
  <p class="textcolor">Music is the essence of life. Everything that has rhythm has music. Our breathing also has a rhythm. Thus, we can say that there is music in every human being or a living creature. Music has the ability to convey all sorts of emotions to people. Music is also a very powerful means to connect with God. We can conclude that Music is the purest form of worship of God and to connect with our soul.</p>
{% endblock %}
