{% extends 'layout.html' %}

{% block body %}
  
   
  <div class="jumbotron text-center" style="background:transparent !important"/>
    
      <h1 style="color:white;">Song that share the same Genre</h1>
      </label>
      <input type="text" name="songname" width="10px" placeholder="Song Name" class="form-control" value={{request.form.songname}}>
 
      <p></p>
      <p></p>
      <p></p>
      <h2 style="color:white;">Or</h2>
      <p></p>
      <p></p>
      <p></p>
      <a href="/recommend" class="btn btn-success btn-lg">Recommendations</a>-->
     
    
  </div>
  </div>


{% endblock %}
